$primary-color: white;
.menu { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    // background-color: rgb(158, 161, 163);
    background-color: white;
    border-bottom: 1px solid #7f7f7f;
    .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    .logo img {
        width: 40px;
        height: auto;
        margin-top: 15px;
    }
    .Icons {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        width: 80%;
        // border: 1px solid red;
        .searchIcon {
            display: flex;
            justify-content: space-around;
            width: 90%;

            input {
                border: 1px solid orange;
                height: 1.5rem;
                margin-top: 8px;
            }

            span {
                margin-top: 12px;
                color: #7f7f7f;
                cursor: pointer;
            }

            p {
                padding-top: 0.6rem;
                color: #7f7f7f;
            }

           
            img {
                padding-top: 10px;
                // width: 25px;
                height: 1.3rem;
                display: flex;
                justify-content: center;
            }
        }
        .userIcon{
            margin-left: 10px;
        }
    }
    }
}