.profileContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    box-shadow: 5px 3px 5px rgba($color: #000000, $alpha: .2);


    .profile-head{
        background-color: #c4c4c4;
        text-align: center;
        padding: 10px;
        h1{
            font-size: 22px;
        }
    }

    .profile-button{
        justify-content: center;
        margin: 10px auto;
        width: 90%;
        button{
            background-color: #2D9CDB;
            color: white;
            width: 100%;
            height: 39px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            
        }
        
    }
}