@import "../Sign-in/sign-in.scss";

.card-container {
    background-color: #fff;
    margin-top: 3rem;
     @media screen and (min-width: 660px) {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
            margin-top: 3rem;

    }
     
    .card {
        @extend %shared-properties-container;
        @include container(auto, 85%, relative, 25px, 0);
        display: flex;
        margin-top: 20px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        text-align: left;
        border: 0.5px solid #d4d4d4;
        @media screen and (min-width: 400px) {
            @include container(auto, 75%, relative, 25px, 0);
            
            justify-content: center;
            .card-img {
                margin-right: 5px;
            }
            .card-details {
                margin-left: 5%;
            }

        }
        @media screen and (min-width: 500px) {
            @include container(auto, 65%, relative, 25px, 0);
            
            justify-content: center;
            .card-img {
                margin-right: 10px;
            }
            .card-details {
                margin-left: 4%;
            }

        }
        @media screen and (min-width: 660px) {
            @include container(auto, 45%, relative, 25px, 0);
            justify-content: center;
            .card-img {
                margin-left: 2px;
            }
            .card-details {
                margin-left: 0;
            }

        }
        @media screen and (min-width: 800px) {
            @include container(auto, 40%, relative, 25px, 0);
            justify-content: center;
            .card-img {
                margin-left: -12px;
            }
            .card-details {
                margin-left: 0;
            }

        }
        @media screen and (min-width: 1085px) {
            @include container(auto, 30%, relative, 25px, 0);
            .card-img {
                height: 120px;
                width: 120px;
                background-color: #9799A1;
                border-radius: 50%;
                margin-left: 5px;
            }
    
            .card-details {
                margin-left: 5px;
            }
        }

        .card-img {
            height: 100px;
            width: 100px;
            background-color: #9799A1;
            border-radius: 50%;
        }

        .card-details {
            padding-left: 25px;
            padding-top: 12px;
            h3 {
                font-size: 16px;
                color: #c4c4c4;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                color: #c4c4c4;
                font-weight: 300; 
            }
            .star-icon {
                margin-left: -10px;
            }
            .star-icon img {
                padding-left: 5px;
                padding-top: 1px;
            }
            .card-buttons {
                width: 100%;
                display: flex;
                padding-top: 5px;
                
                    a {
                        width: 70%;
                        height: 23px;
                        border-radius: 5px;
                        border: 1px solid #d4d4d4;
                        color: #fff;
                        background-color: #2D9CDB;
                        font-size: 12px;
                        text-decoration: none;
                        text-align: center;
                        padding-top: 10px;
                    }
                    
                    a:first-child {
                        width: 45%;
                    }
            }
            
        }


        
    }
}